{% extends 'base.html' %}
{% block content %}
    <section id="create-page" class="auth">
        <!-- create game form -->
        <form method="post" action="{% url 'anime create page' %}" id="create">
            <div class="container">
                <!-- create game paragraph -->
                <h1>Create anime torrent</h1>

                {{ form }}
                {% csrf_token %}
                <!-- create game button -->
                <button class="form-button">Create Anime</button>
            </div>
        </form>
    </section>
{% endblock %}