{% extends 'base.html' %}
{% block content %}
    <section id="game-details">
        <h1>Anime Details</h1>
        <div class="info-section">
            <div class="game-header">
                <!-- game image -->
                <img class="game-img"
                     src="{{ anime.image_field }}"
                     alt='game image'/>
                <!-- title and rating -->
                <h1>{{ anime.name }} <span class="levels">Downloads: {{ anime.download_count }}</span></h1>
                <!-- game category -->
                <p><span class="type">Genre: {{ anime.genre }}</span></p>
                <!-- game max level (if any) -->
                <p><span class="type">Uploaded: {{ anime.date_of_upload }}</span></p>
                 <p><span class="type">Last download: {% if anime.date_of_last_download %}
                    {{ anime.date_of_last_download }}
                 {% else %} Not downloaded yet
                 {% endif %} </span></p>
                <p><span class="type">Uploader: @{{ anime.uploader }}</span></p>


            </div>
            <!-- game summary (if any)-->
            {% if anime.description %}
                <p class="text">
                    Uno is an American shedding-type card game that is played with a specially printed deck. The game's
                    general principles put it into the crazy eights family of card games, and it is similar to the
                    traditional European game mau-mau.
                </p>
                {% else %} <div class="anime__expand">

            </div>
            {% endif %}


            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'anime edit page' %}" class="button btn">Edit</a>
                <a href="{% url 'anime delete page' %}" class="button btn">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}
