{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="animes">
        <h2>Anime List</h2>
        <div class="container anime__container">
            <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/anime_cover_3.jpg' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>Naruto</h4>
                    <p>
                        Naruto is the best anime right now!
                    </p>
                    <a href="{% url 'anime details page' %}" class="btn btn-primary">Read more</a>
                </div>
            </article>

            <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/tryIt.png' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>Bleach</h4>
                    <p>
                        Bleach is awesome too
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

            <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 1.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

            <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 1.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

            <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 1.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

            <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 1.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

            <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 2.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

                <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 2.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

                <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 2.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

                <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 2.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

                <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 2.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

                <article class="anime">
                <div class="anime__image">
                    <img src="{% static 'img/cover 2.webp' %}" alt="">
                </div>
                <div class="anime__info">
                    <h4>X/1999</h4>
                    <p>
                        X will make you cry for sure !
                    </p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </article>

        </div>
    </section>



{% endblock %}