{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="animes">
        {% if anime %}
            <h2>Anime List</h2>
            <div class="container anime__container">
                {% for an in anime %}
                    <article class="anime">
                    <div class="anime__image">
                        <img src="{{ an.image_field }}" alt="">
                    </div>
                    <div class="anime__info">
                        <h4>{{ an.name }}</h4>
                        {% if an.description %}
                        <p>
                            {{ an.description }}
                        </p>
                         {% else %}
                            <p>This anime does not have description yet</p>
                        {% endif %}

                        <a href="{% url 'anime details page' pk=an.pk%}" class="btn btn-primary">Read more</a>
                    </div>
                </article>
                {% endfor %}





            </div>
        {% else %}
            <div class="no__anime">
                <h2>No anime added</h2>
            </div>
        {% endif %}


    </section>



{% endblock %}