{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container header__container">
            <div class="header__right">
                <div class="header__left-img">
                   <img src="{% static 'img/404 -img.png' %}" alt="error 404 img">
                </div>
            </div>

            <div class="header__left">
                <h1>404</h1>
                <h2>Nothing to see here</h2>

            </div>
        </div>

    <link rel="stylesheet" href="{% static 'css/404.css' %}">
{% endblock %}