{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="create-page" class="auth">
        <div class="container form__container-main">
            <div class="form__image-left">
                <form method="post" action="{% url 'sign up page' %}" id="create">
                    <div class="form-container">
                        <!-- create game paragraph -->
                        <h1>CREATE PROFILE</h1>
                        {% for field in form %}

                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}

                        {% endfor %}
                        {% csrf_token %}
                        <button class="form-button">Create profile</button>

                    </div>
                </form>
            </div>
            <div class="form__image-right">
                <img src="{% static 'img/ship.png' %}" alt="background">
            </div>
        </div>


    </section>




{% endblock %}